@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: hsl(0, 0%, 100%);
    --primary-hover: hsla(0, 0%, 100%, 0.753);
    --secondary: hsl(278, 72%, 49%);
    --secondary-hover: hsl(278, 92%, 34%);
    --background: hsl(0, 0%, 0%);
    --surface: hsl(0, 0%, 7.06%);
    --font-color: hsl(0, 0%, 79.61%);
  }

  body {
    background-color: var(--background);
  }
}
